<div class="row mt-2">
    <div class="col-12 text-center">
        <a href="{{ path('app_homepage') }}" class="btn btn-sm btn-primary">html</a>
        <a href="{{ path('embedded') }}" class="btn btn-sm btn-success">embedded</a>
        <a href="{{ path('json') }}" class="btn btn-sm btn-warning" target="_blank">json</a>
    </div>
</div>